extends layout

block content
  div.container-body
    h1 Welcome to the Travel App
    p Select an option to continue:
    ul.button-container
      li
        a.button(href='/cities') Discover Cities
      li
        a.button(href='/countries') Explore Countries

